* {
    margin: 0;
}

body {
    height: 100%;
    display: relative;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(45deg, rgba(255, 165, 0, 0.5), rgba(128, 0, 128, 0.5)); */
    background-color: #e2e2e2;
    background-size: cover auto;
    min-height: 100vh;
    cursor: default;
}

.pattern-container {
    display: flex;
    flex-wrap: wrap;
}

.pattern {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.pattern:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    /* background: linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.2) 75%); */
    background-size: 10px 10px;
    transform: translate(-25%, -25%);
    opacity: 0.3;
}

.pattern:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
    /* background: linear-gradient(45deg, rgba(255, 165, 0, 0.3), rgba(128, 0, 128, 0.3)); */
    opacity: 0.3;
    mix-blend-mode: screen;
}

.links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
    background-color: #94C5CC;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    color: #65686f;
    min-height: 60px;
}

.links-li {
    list-style: none;
    font-family: 'Montserrat';
    padding: 20px 30px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
}

.links-li:hover,
.bottom-link:hover {
    color: #FFE787;
    background-color: #424242;
    border-radius: 20px;
    cursor: default;
}

.links-li:hover a {
    transform: scale(1.1);
}

.links-li a {
    display: inline-block;
    /* transition: transform 0.4s; */
}

.bottom-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    background-color: #94C5CC;
    color: #241e1e;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0 0 0;
}


.bottom-link {
    list-style: none;
    font-family: 'Montserrat';
    padding: 3px 20px 2px;
    font-size: 0.9rem;
    width: 10%;
    margin: 0 45%;
    text-align: center;
}

.bottom-link:hover a {
    transform: scale(1.1);
}

.bottom-link a {
    display: inline-block;
    transition: transform 0.4s;
}

.log-li {
    padding: 5px 10px;
}

.log {
    border-radius: 7px;
    background-color: #a30c0c;
    color: white;
    padding: 15px 20px;
}

article {
    width: 100%;
    min-height: 85vh;
}

section {
    margin: 2rem 20%;
    width: 60%;
    border: 5px solid rgb(166, 169, 171);
    border-radius: 5px;
}

section::before{
    border: 10px solid blue;
    border-radius: 5px;
    }

html {
    height: 100vh
}

.naslov {
    color: #B5179E;
    font-size: 2.4rem;
    margin: 0;
    font-family: 'Montserrat';
    padding: 0.6rem 1.5rem;
}

.tekst {
    font-size: 1.4rem;
    padding: 0 2.2rem;
    font-family: 'Montserrat';
}

.podnaslov {
    font-size: 1.8rem;
    margin: 0rem 1.8rem 1.4rem;
    font-family: 'Montserrat';
    color: #3A0CA3;
    opacity: 0.65;
    font-weight: 600;
}

footer {
    background-color: #94C5CC;
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    min-height: 10vh;
}

.credit {
    list-style: none;
    font-family: 'Montserrat';
    margin: 0.7rem 0 0.2rem 0;
    font-size: 0.9rem;
}

.poudarek {
    font-weight: 600;
    font-family: 'Montserrat';
    color: #3A0CA3;
    opacity: 0.9;
}

.spisek {
    font-family: 'Montserrat';
    margin-left: 2rem;
    list-style: decimal
}

.spisek a {
    text-decoration: none;

}

.active-page {
    background-color: #75add5;
    color: #ffe787;
}

nav ul hr {
    width: 5%;
    border-top: 1px dashed #8c8b8b;
    border-bottom: 1px dashed #fff;
}

.login {
    margin: 20px 0px 0 30px;
    padding: 0;
}

.login a {
    /* margin: 14px 0 0 0; */
    padding: 13px 22px;
    background-color: #a1a6b4;
    border-radius: 4px;
}

.links-vr div {
    height: 100%;
    width: 2px;
    background-color: #a1a6b4;
}

.links-vr {
    list-style: none;
    /* margin-right: 2rem; */
    font-family: 'Montserrat';
    padding: 7px 10px;
    font-weight: 500;
}

.links-acc {
    list-style: none;
    font-family: 'Montserrat';
    padding: 5px;
    font-weight: 500;
    transition: all 0.3s;
}

.links-acc:hover {
    transform: scale(1.05);
    font-weight: 700;
}

.account-info {
    max-height: 60px;
    display: flex;
    background: #FFE787;
    border-radius: 7px;
    padding: 5px 10px;
}

.account-info:hover {
    opacity: 0.7;
    transition: 0.4s;
    color: #b4d2e7;
    cursor: pointer;
}

.hello {
    font-size: 0.8rem;
    margin: auto 15px;
}

.nickname {
    font-size: 0.8rem;
    margin: 12px 15px;
}

.button-neki {
    display: none;
}

.account-info img {
    height: 40px;
}

.login-page {
    width: 30%;
    display: flex;
    margin: 3em 0%;
    text-align: center;
    padding: 1rem;
    background-color: #94c5cc;
    vertical-align: middle;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    min-width: 400px;
}

.login-art {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.login-page * {
    width: 100%;
}

.input {
    height: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Montserrat';
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

}

.submit-btn {
    background-color: #480CA8;
    color: white;
    border-radius: 5px;
    border: none;
    height: 3em;
    width: 100%;
    margin: 10px auto 0;
    font-weight: bolder;
    font-family: 'Montserrat';
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

}

.submit-btn:hover,
.cookie form button:hover {
    opacity: 0.7;
    transition: 0.2s;
    color: #B5179E;
}

.show-psw:hover {
    background-color: #560BAD;
    transition: 0.2s;
    opacity: 0.7;
}

.show-psw {
    height: 50px;
    width: 50px;
    margin: 10px 0;
    padding: 0 0 0;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 0px 3.2px;


}

.show-psw img {
    width: 50px;
    height: 50px;
}

form span {
    position: relative;
    display: flex;
}

form {
    padding: 0 20px 5px;
}

.cookie {
    position: fixed;
    bottom: 0%;
    right: 0;
    z-index: 2;
    background-color: rgb(232, 81, 80);
    padding: 20px 0px;
    border-radius: 8px;
    width: 14%;
    margin: 20px;
    min-width: 270px;
    text-align: center;
}

.cookie h3 {
    font-size: 1.4rem;
    margin: 5px 15px 15px;
}

/* .cookie form {
    display: flex;
    flex-wrap: wrap;
} */

.cookie p,
.cookie form p {
    margin: 0;
    padding: 0 20px 5px;
    font-size: 0.9rem;
    text-align: center;
}

.cookie form p {
    padding: 1px 5px 0 0;
    font-size: 0.8rem;
}

.cookie a {
    color: #480CA8;
    text-decoration: none;
}

.cookie form button {
    background-color: #480CA8;
    color: white;
    border-radius: 5px;
    border: none;
    height: 3em;
    width: 100%;
    margin: 10px auto 0;
    font-weight: bolder;
    font-family: 'Montserrat';
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.cookie img {
    height: 6rem;
    /* margin: 0 50%;
    transform: translateX(-50%); */
}

.burger-men {
    /* padding: auto; */
    height: 30px;
    display: none;
    justify-content: center;
    padding: 15px;
    list-style: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.crta {
    width: 35px;
    height: 4px;
    border-radius: 4px;
    background-color: #B5179E;
    display: block;
    margin: auto;
    /* margin-bottom: 6px; */
}

.logo img,
.logo {
    height: 60px;
    list-style: none;
    display: none;
}

@media (max-width: 500px) {
    .login-page {
        min-width: 300px;
    }
}

@media (max-width: 560px) {

    .links-li,
    .links-acc,
    .links-vr {
        /* display: none; */
    }

    .links-vr {
        display: none;
    }

    .links {
        flex-wrap: wrap;
        /* padding-top: 60px; */
        position: relative;
        display: block;
        z-index: 1;
    }

    .burger-men {
        display: grid;
    }

    .logo img,
    .logo {
        display: block;
    }

    .links-li,
    .links-acc {
        width: 100%;
        opacity: 1;
        text-align: center;
        padding: 20px 0;
        background-color: #FFE787;
    }

    .links-acc {
        /* margin: 20px 40px; */
        padding: 0 0 10px;
        margin: 0 auto;
        width: 30%;
        min-width: 130px;
    }

    .account-info img {
        margin: auto;
    }
}

.show {
    display: block;
}

@media (max-width: 700px) {
    section {
        margin: 2rem 7.5%;
        width: 85%;
    }
}

.pogoji {
    margin-left: 3%;
    margin-right: 3%;
}

.pogoji-li {
    margin-left: 4%;
    margin-right: 4%;
}

.checkbox-label {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: #fff;
    border: 2px solid #000;
    cursor: pointer;
    margin-top: 2px;
    margin-right: 8px;
}

.checkbox-label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    background-color: #000;
    transition: transform 0.3s;
}

input[type="checkbox"]:checked+.checkbox-label::after {
    transform: translate(-50%, -50%) scale(1);
}

input[type="checkbox"] {
    display: none;
}

.logout-button {
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(232, 81, 80);
    border-radius: 7px;
    padding: 5px 10px;
    position: absolute;
    top: 2%;
    right: 20%;
}


.logout-button:hover {
    background-color: #3468BB;
}

#score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.gumbClick,
.resetGumb {
    padding: 10px 20px;
    background-color: #065088;
    font-size: 20px;
    color: #11ffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.clickertekst {
    font-size: 20px;
    font-family: Montserrat;
}

.clicknaslov {
    font-size: 30px;
    font-family: Montserrat;
}

.gumbClick {
    width: 100%;
    height: 250px;
    display: inline-block;
    font-size: 30px;
    transition: background-color 0.3s ease;
    font-family: Montserrat;
}

.gumbClick:hover {
    background-color: #0970df;
    animation: cubic-bezier(0.19, 1, 0.22, 1)
}

.resetGumb:hover {
    scale: 1.1
}

.leaderboard {
    padding: 2%;
    margin: 2%;
    position: relative;
    border-radius: 3px;
    background-color: transparent;
}

.leaderboard:before {
    content: '';
    position: absolute;
    top: -2%;
    left: -2%;
    right: -2%;
    bottom: -2%;
    background-color: #0871ae;
    z-index: -1;
    border-radius: 3px;
}

.leaderboard-content {
    background-color: #8aa2fc;
    border-radius: 3px;
}

@keyframes scoreAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

#score.animated {
    animation: scoreAnimation 0.5s;
}